

@import "eric-meyer-reset.min.css";
@import "scrollbar.css";
@import url(http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Jura:400,300,500,600);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);


/******************************************************General Styling******************************************************/
a:link, a:visited {
    color: #FABF38;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    /*font-family: "Lato";*/
    /*font-weight: 100;*/
}

a:hover, a:active {

}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

body{
    margin: 0;
    /*width: 70%;*/
    min-width: 900px;
    clear: both;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    /*overflow:hidden;*/
}

.base_btn {
    height: auto;
    min-height: 27px;
    text-transform: lowercase;
    font-family: Comfortaa;
    /*font-family: 'Open Sans', sans-serif;*/
    text-align: center;
    min-width: 60px;
    width: auto;
}

.grey_btn {
    border: 1px solid #FFFFFF;
    background: #E2E2E2;
    color: #8D022E;
}

.grey_btn:hover {
    background: #d1d1d1;
}

.darkgrey_btn {
    border: 1px solid #FFFFFF;
    background: #979797;
    color: #FFFFFF;
}

.darkgrey_btn:hover {
    background: rgba(209, 209, 209, 1);
}



.orange_btn {
    border: 1px solid #FFFFFF;
    background: #FABF38;
    color: #FFFFFF;
}
.orange_btn:hover {
    background: #fad460;
}

.red_btn {
    border: 1px solid #FFFFFF;
    background: #B55C78;
    color: #FFFFFF;
}
.red_btn:hover {
    background: #BB325D;
}

.block {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.spacing_top {
    margin-top: 20px;
}

.fonttype1 {
    font-family: 'Quicksand', sans-serif;
}

.fonttype2 {
    font-family: Lato;
}

.fonttype3 {
    font-family: Comfortaa;
}

.fonttype4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.orange_txt {
    color: #FABF38;
}

.grey_txt {
    color: #d1d1d1;
}

.darkgrey_txt {
    color: #787878;
}

.red_txt {
    color: #A33457;
}

/*.block2 {*/

/*}*/

/*.left {*/
    /*float: left;*/
/*}*/

/*.right {*/
    /*float: right;*/
/*}*/

textarea {
    border: 1px solid #ddd;
}



/*************************************************Grouping*******************************************************/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    *zoom: 1;
}

/******************************************************Main Header******************************************************/
header{
    min-width: 700px;
}

.mainHeader {
    background-color: #333;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#logo {
    color: #FABF38;
    width: auto;
    padding: 0 20px;
    float: left;
    font-family: Comfortaa;
    font-size: 40px;
    vertical-align: middle;
}

#share {
    color: #FABF38;
}
#dom {
    color: #FFFFFF;
}

.mainHeader a:visited, .mainHeader a:active{
    text-decoration: none;
}

/******************************************************Main Header******************************************************/

/********************Logged Out********************/
.mainHeader .login_bar {
    text-decoration: none;
    color: #FFFFFF;
    float: right;
    font-family: "Lato";
}

/*.mainHeader .signup button {*/
    /*height: 27px;*/
    /*text-transform: lowercase;*/
    /*font-family: Comfortaa;*/
    /*color: #FFFFFF;*/
    /*text-align: center;*/
    /*width: 60px;*/
    /*border: 1px solid #FFFFFF;*/
/*}*/

/*.signup #login {*/
    /*background: #E2E2E2;*/
    /*color: #8D022E;*/
/*}*/

/*.signup #signup {*/
    /*background: #FABF38;*/
/*}*/

/********************Logged In********************/
.mainHeader .buttons {
    float: right;
    padding-right: 10px;
    display: inline-block;
}

.mainHeader .buttons img{
    padding-right: 20px;
    width: 20px;
    vertical-align: middle;
}

.mainHeader form {
    display: inline-block;
    position: relative;
    height: 20px;
    cursor: pointer;
}

.searchbar {
    height: 30px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    border: none;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    width: 0px;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    -moz-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.searchbar.active {
    width: 200px;
    padding-right: 20px;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

/*.mainHeader form input[type="text"]:focus:hover {*/
    /*border-bottom: 1px solid #BBB;*/
/*}*/





/******************************************************mainNavigation******************************************************/
.mainNavigation {
    /*background-color: #8D022E;*/
    /*opacity: 0.8;*/
    background-color: #A33457;
    width: 100%;
    height: 50px;
    top: 70px;
    position: fixed;
    z-index: 15;
    /* margin-top: 70px; */
    /* display: inline; */
    /* padding-top: 112px; */
    /* margin-bottom: 20px; */
    /* left: 0; */
    /* right: 0; */
}

.mainNavigation nav {
    margin: auto;
    clear: both;
    width: auto;
    padding-top: 10px;
    text-align: center;
    min-width: 740px;
    /* padding: 10px 75px; */
    /* display: inline-table; */
}

.mainNavigation .tabs {
    list-style: none;
    margin-top: 3px;                /*type1*/
    /*margin-top: 0px;                /!*type2*!/*/
    display: inline-block;
    text-align: center;

    /*/!*margin: -10px 0 0 0;*!/    Type2*/
}

.mainNavigation li {
    float: left;
    list-style-type: none;
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    /*/!*padding: 10px 0px 10px 0;*!/       Type2*/
    border-right: 2px solid #333333;           /*Type1*/
}

.mainNavigation li a{
    /*font-family: Comfortaa;*/
    /*font-family: "Lato";*/
    /*font-family: 'Open Sans';*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-transform: lowercase;
    opacity: 0.8;

    /*padding-right: 10px;*/            /*type2*/
    /*padding-left: 10px;*/             /*type2*/
    /*border-right: 2px solid #000;       /!*type2*!/*/
}

.mainNavigation li:last-child {
    border-right: none;
}

.mainNavigation li a:hover{
    /*font-weight: bold;*/
    opacity: 1;
}

.mainNavigation li.active {
    /*background-color: #FFFFFF;*/
    ext-shadow: none;
    display: block;

    /*background-color: #C43462;*/        /*type2*/
    /*padding: 12px 35px 0 0;                /!*type2*!/*/
}

.mainNavigation li.active a{
    color: #FFFFFF;
    opacity: 1;
}

/******************************************************mainContent******************************************************/
.main {

    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    padding-top: 150px;
    background-color: #E2E2E2;
    width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
    /*overflow:auto;*/
}

.content {
    padding:20px 35px 20px 35px;
    text-align: center;
    width: 50%;
    max-width: 800px;
    min-width: 550px;
    height: auto;
    background-color: #FFFFFF;
    margin: auto auto 20px auto;
    overflow: hidden;
    /*min-height: 550px;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 20px;*/
    /*overflow-y: auto;*/
    /*font-family: Comfortaa;*/
    /*font-size: 30px;*/

}

.content .main_label {
    border-bottom: 2px solid #DDD;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

.content .left-column{
    width: 45%;
    margin-right: 22px;
    float: left;
    padding: 0 0 0 22px;
}

.content .right-column{

    width: 45%;
    /*height: 80%;*/
    float: right;
    /*padding: 0 0 0 34px;*/
    padding-bottom: 10%;
    padding-left: 22px;
    padding-right: 22px;
    border-left: 1px solid #DDD;
}

/*****************************************************footer****************************************************/

.mainFooter {
    width: 100%;
    height: 100px;
    background-color: #E2E2E2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}


/******************************************************side overlay*****************************************************/
.side-overlay{
    position: fixed;
    z-index: 150;
    top: 304px;
    right: 0;
    width: 45px;
    height: 150px;
    background-color: #787878;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    /*border: 2px;*/
    border: 2px solid #FFFFFF;;
    /*border-style: ridge;*/
    text-align: center;
    /*opacity: 0.6;*/
}

.side-overlay .feedback_label{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: fixed;
    margin-top: 45px;
    right: -45px;
}

/******************************************************add post button*****************************************************/
.add_post_btn{
    position: fixed;
    z-index: 150;
    bottom: 30px;
    right: 27px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #A33457;
    border: 2px solid #FFFFFF;
    text-align: center;
    opacity: 0.8;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.54);
}























