@import "base.css";


.block {
    display: flex;
    text-align: right;
}

.left {
    width: 25%;
    float: left;
    margin-bottom: 20px;
    padding-right: 20px;
}
.right {
    width: 60%;
    float: right;
    margin-bottom: 20px;
    padding-Left: 5px;
}

input {
   border: 1px solid #ddd;
    height: 20px;
}

.block textarea {
    width: 59.5%;
    resize: none;
}

.feedback_btns {

    float: right;
    margin-right: 10%;
}