
@import url("base.css");


/******************************************************Main Header******************************************************/



/******************************************************banner image******************************************************/
#banner-image img {
    width: 100%;
    /*min-width: 1050px;*/
    max-height: 200px;
}

/******************************************************mainContent******************************************************/

.content {
    display: flex;
    overflow-y:auto;
    width: 80%;
}

.content .moto {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 70px;
}
.moto h1 {
    font-size: 60px;
    color: #000;
}
.moto h3 {
    font-size: 30px;
    color: #FABF38;
}

.content .recommendation {

    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    padding-bottom: 70px;
}

.content .signup{
    height: 70px;
    font-family: Comfortaa;
    color: #FFFFFF;
    background: #A33457;
    border: #FFFFFF;
    text-align: center;
    width: 350px;
    font-size: 20px;
    padding: 12px 35px;
    box-shadow: 4px 4px 0px #888888;
}


/******************************************************Activity Stream******************************************************/



h1 {
    padding: 0 20px 12px 0;
    border-bottom: 1px solid #DDD;
    font-family: 'Open Sans', sans-serif;

}

.guest {
    display: block;
}
/*.content .left-column{*/
    /*width: 45%;*/
    /*margin-right: 34px;*/
    /*float: left;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*padding: 0 0 0 22px;*/
/*}*/

.left-column .activity_stream {
    padding-top: 20px;
    list-style-type: none;
    float: left;
}

.left-column .activity {
}

.left-column .images {
    float: left;
    margin: 0 30px 0 0;
}
.left-column .images .user_image {
    border-radius: 40px;
    width: 40px;
    border: 2px solid white;
    padding: 0 0 0 0;
    margin: 0px 0px 75px -30px;
}

.left-column .text {
    position: relative;
    top: 20px;
    left: -25px;
    color: black;
    width: 100%;
    font-size: 14px;
    /*font-family: sans-serif;*/
    margin: 0 200px 75px 0;
    text-align: left;
    line-height: 2em;
}
.left-column .text a{
    color: #FABF38;
    font-size: 14px;
    /*font-family: sans-serif;*/
    text-decoration: underline;
}

.comment_section {
    /*width: 100%;*/
    /*height: 80px;*/
    margin: 10px 0 0 0;
    position: relative;
    float: left;
    /*display: flex;*/
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}

.comment_section .left {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    padding: 0 5px 0 0;
}

.comment_section .middle  {
    width: 60%;
    margin-right: 5px;
    margin-left: auto;
    text-align: center;
    /*padding: 23px 0 10px 0;*/
    max-height: 120px;
}


.comment_section .right  {
    /*width: 60px;*/
    /*background-color: #FABF38;*/
    float: right;
    position: relative;
    margin-top: 24px;
}

.comment_section input[type='submit'] {
    float: right;
}

.comment_section textarea {
    resize: none;
}

.load_posts {
    margin-top: 20px;
}

/******************************************************News Feed******************************************************/
/*.content .right-column{*/

    /*width: 45%;*/
    /*/!*height: 80%;*!/*/
    /*float: right;*/
    /*/!*padding: 0 0 0 34px;*!/*/
    /*padding-bottom: 80%;*/
    /*padding-left: 34px;*/
    /*border-left: 1px solid #DDD;*/
/*}*/

/*.right-column h2 {*/
    /*padding: 0 20px 12px 0;*/
    /*border-bottom: 1px solid #DDD;*/
/*}*/



/*****************************************************footer****************************************************/
