@import "base.css";

.generic_post {
    padding-top: 10px;
    width: 80%;
    margin: auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    border-bottom: 1px solid #E2E2E2;
}

.generic_post img {
    width: 70px;
    height: 70px;
}

.generic_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    text-align: left;
    line-height: 1.6;
    /*flex-basis: 100%;*/
}

.generic_detail a {
    font-size: 15px;
    color: #A33457;
    font-family: Lato;
}

.generic_vert_buttons button {
    width: 75px;
}