@import "base.css";

.content {
    max-width: 400px;
}

.list {

}

.user {
    border-bottom: 1px solid #DDD;
    height: auto;
    display: block;
    width: 90%;
    margin: 10px auto auto auto;
}

.user img  {
    width: 71px;
    height: 71px;
    float: left;
}

.user_name {
    font-size: 17px;
    font-family: Lato;
    display: block;
    color: #A33457;
    width: 100%;
    margin-bottom: 5px;
}

.user_details {
    display: inline-block;
    float: left;
    line-height: 1.5;
    text-align: left;
    padding-left: 15%;
    margin-top: 10px;
}

.user_details label {
    display: block;
}

.block {
    width: 50%;
    margin: auto;
}