@import url("base.css");

.main .content {
    /*margin: auto;*/
    min-width: 700px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    padding: 0 20px 12px 0;
    font-family: 'Open Sans', sans-serif;
}

/***************************************** Messages *****************************************/
.main .content .messages {
    width: 80%;
    border: 2px solid #A5A5A5;
    padding: 0px 0px 17px 0px;
    height: 300px;
    margin: 0 auto 30px auto;
}

.internal_block{

    width: 100%;
    height: 90%;
    /*border: 1px solid #A5A5A5;*/
    /*background: #E2E2E2;*/
    display: inline-flex;
    font-size: 20px;
    color: #787878;
    /*opacity: 0.2;*/
}

.main .content .messages .text_block {
    display: inline-flex;
    float: right;
    height: 15.5%;
    width: 67.8%;
}


/********* Threads *********/

.messages .threads {
    float: left;
    border: 1px solid #A5A5A5;
    background: #E2E2E2;
    width: 40%;
    height: 117.1%;
    display: table-row;
    overflow-y: auto;
}

.messages .threads .user{
    width: 100%;
    margin: auto;
    background: #94CDEA;
    padding: 6px 0px 6px 0;
    margin-top: 5px;
}

.messages .threads .active{
    background: #A2D1A2;
}

.text_block textarea {
    /*padding-left: 48%;*/
    width: 85%;
    resize: none;
    margin-top: 1px;
    margin-bottom: -2px;

}
.text_block button {
    /*margin-top: 10px;*/
    height: 100%;
}

/********* conversations *********/

.messages .conversations {
    float: right;
    border: 1px solid #A5A5A5;
    height: auto;
    min-height: 100%;
    width: 80%;
    padding: 0px 12px 0px 12px;
    overflow-y:auto;
    font-size: 15px;
}
.conversations .message{
    width: 100%;
    display: inline-block;
    /*padding-top: 5px;*/
    padding: 5px 0px 5px 0px;
}

.conversations .bubble {
    text-align: left;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    width: auto;
    max-width: 75%;
}
.conversations .received {
    float: left;
    color: white;
    background: #94CDEA;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.conversations .sent {
    float: right;
    color: white;
    background: #A2D1A2;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


.messages .block {
}



/***************************************** Requests *****************************************/

.main .content .requests {
    width: 80%;
    /*padding: 0 0 50px 0;*/
    height: 400px;
    margin: auto;
    border: 2px solid #A5A5A5;
    display: inline-flex;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

.main .content .requests .cells {
    overflow-y: auto;
    overflow-x: hidden;
    height: 95%;
    width: 99.4%;
}

.main .content .requests .cell a:link,.main .content .requests .cell a:visited {
    color: #A33457;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: 100;*/
}


.requests .left_column {
    width: 50%;
    border-right: 1px solid #787878;
    height: 100%;
}

.left_column .cell {
    font-size: 14px;
    display: inline-flex;
    background: #E2E2E2;
    min-height: 60px;
    height: auto;
    padding-top: 4px;
    margin-top: 10px;
    border: 1px solid #BCBCBC;
}

.left_column .cell .text{
    float: left;
    text-align: left;
    width: 72%;
    padding-top: 10px;
    padding-left: 10px;
}

.left_column .cell .buttons {
    float: right;
    width: 24%;
}
.left_column .cell .buttons .btn{
    width: 100%;
}

.requests .right_column {
    width: 50%;
    height: 100%;
}

.right_column .cell{
    font-size: 14px;
    /* display: inline-flex; */
    background: #E2E2E2;
    min-height: 70px;
    height: auto;
    padding-top: 4px;
    margin-top: 10px;
    border: 1px solid #BCBCBC;
}

.right_column label {

}
.right_column .buttons {
    margin-top: 8px;
    margin-bottom: 5px;
}
