@import "base.css";

.content {
    max-width: 500px;
}

.add_post{
    color: #787878;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    /*padding-bottom: 50px;*/
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    padding: 5px 0 17px 0;
}

.row label {

    /*width: 100%;*/
}

.row .left_column  {
    float: left;
    width: 40%;
    text-align: left;
    margin-top: 4px;
}

.row .right_column {
    /*display: inline;*/
    float: right;
    width: 58.990%;
    text-align: left;
    /*height: 20px;*/
    padding: 0px 0px 0px 5px;

}

.date_selector {
    display: table-caption;
    padding-left: 50px;
    padding-top: 8px;
}

.row .details {
    height: 120px;
    resize: none;
}
.post_type {
    display: inline-flex;
}

.post_type li {
    background: #787878;
    padding: 10px 40px 10px 40px;
    margin: 0px 0px 15px 20px;
    color: white;
}

.post_type li.active {
    background: #A33457;
}

.post_type a {
    color: #FFFFFF;
    font-size: 20px;
}

.post_buttons {
    display: block;
    float: right;
}

