@import "base.css";

.content {

}

.user_info {
    margin-top: 10px;
    line-height: 1.5;
    display: flex;
}

.profile_pic {
    width: 50%;
    margin-right: 20px;
}

.profile_pic img {
    width: 100px;
    height: 100px;
    float: right;
}

.details {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 50%;
}

.details label {
    width: 200px;
}

.list_type1 {

}

.inner-block {
    display: flex;
    overflow-y:auto;
    margin-top: 10px;
}

h2{

    padding: 0 0 12px 0;
    border-bottom: 1px solid #DDD;
}

h3 {
    padding: 12px 0  0;
}

.user {
    border-bottom: 1px solid #DDD;
    height: auto;
    display: block;
    width: 90%;
    margin: auto;
}

.user img  {
    width: 60px;
    height: 60px;
    float: left;
}

.user_name {
    font-size: 17px;
    font-family: Lato;
    display: block;
    color: #A33457;
    width: 100%;
    margin-bottom: 5px;
}

.user_details {
    display: inline-block;
    float: left;
    line-height: 1.5;
    text-align: left;
    padding-left: 10%;
}

.user_details label {
    display: block;
}
