@import "base.css";

.content {
    max-width: 400px;
}

.list {

}

.user {
    border-bottom: 1px solid #DDD;
    height: auto;
    display: block;
    width: 90%;
    margin: 10px auto auto auto;
}

.item_img  {
    width: 71px;
    height: 71px;
    float: left;
}

.user_name {
    font-size: 17px;
    font-family: Lato;
    display: block;
    color: #A33457;
    width: 100%;
    margin-bottom: 5px;
}

.details {
    display: inline-block;
    float: left;
    line-height: 1.5;
    text-align: left;
    padding-left: 15%;
}

.details label {
    display: block;
}

.details label a:link, .details label a:active, .details label a:hover, .details label a:visited {
    text-decoration: double;
}

.block {
    width: 50%;
    margin: auto;
}