@import url("base.css");

.main {
    padding-top: 110px;
}

.mainNavigation {
    display: none;
}

.content {
    min-width: 600px;
    max-width: 800px;
}

#signup_details {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    text-align: left;
    width: 300px;
}

#signup_details input{
    color: #000;
    margin: 0 0 20px 0;
}

/*#back_button {*/

/*}*/

/*/!*#login_button {*!/*/
    /*/!*width: 140px;*!/*/
/*/!*}*!/*/

/*#signup_button {*/
    /*border: 1px solid #FFFFFF;*/
    /*background: #FABF38;*/
    /*color: #FFFFFF;*/
/*}*/

#map {
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 40px;
}