
@import url("base.css");


/******************************************************Main Header******************************************************/



/******************************************************banner image******************************************************/
#banner-image img {
    width: 100%;
    /*min-width: 1050px;*/
    max-height: 200px;
}

/******************************************************mainContent******************************************************/

/****Guest Page****/
.content .moto {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 70px;
}
.moto h1 {
    font-size: 60px;
    color: #000;
}
.moto h3 {
    font-size: 30px;
    color: #FABF38;
}
.content .recommendation {

    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    padding-bottom: 70px;
}

/*.content .signup{*/
    /*height: 70px;*/
    /*font-family: Comfortaa;*/
    /*color: #FFFFFF;*/
    /*background: #A33457;*/
    /*border: #FFFFFF;*/
    /*text-align: center;*/
    /*width: 350px;*/
    /*font-size: 20px;*/
    /*padding: 12px 35px;*/
    /*box-shadow: 4px 4px 0px #888888;*/
/*}*/


/******************************************************Content******************************************************/
.content {
    display: flex;
    overflow-y:auto;
}


/******************************************************News Feed******************************************************/


/*****************************************************footer****************************************************/
